body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

/* Chrome, Edge, Safari */
#main-content::-webkit-scrollbar {
  width: 6px;
}
#main-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}
#main-content::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}